# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.local
.cache/
.DS_Store
*.pem
*.log
coverage/
*.tsbuildinfo

# VSCode
.vscode/

# OS
Thumbs.db
ehthumbs.db
*.swp
